{% extends 'base.template.html' %}
{%block title%}
All Fishes contributed by our users
{% endblock%}

{%block content%}
<h1>All Fishes contributed by our users</h1>

<a href="{{url_for('show_create_fish')}}" class="btn btn-primary">Add Fish</a>

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Scientific Name</th>
            <th>Higher Classification</th>
            <th>Full Grown Size in cm</th>
            <th>Diet</th>
            <th>Actions</th>
        </tr>
    </thead>
    {%for each_fish in fish %}
    <tr>
        <td>{{each_fish.name}}</td>
        <td>{{each_fish.scientific_name}}</td>
        <td>{{each_fish.higher_classification}}</td>
        <td>{{each_fish.full_grown_size_in_cm}}</td>
        <td>{{each_fish.diet}}</td>
        <td><a href="{{url_for('delete_fish', fish_id=each_fish._id)}}" class="btn btn-danger">Delete</a></td>
    </tr>
    {% endfor%}

</table>

{% endblock %}